<p id="notice"><%= notice %></p>

<h1>Zombies</h1>

<table>
  <thead>
    <tr>
	  <th>Avatar</th>
      <th>Name</th>
      <th>Bio</th>
      <th>Age</th>
      <th>Email</th>
      <th>Rotten</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @zombies.each do |zombie| %>
      <tr>
        <td><%= image_tag zombie.avatar , class: 'zombie_img' %></td>
        <td><%= zombie.name %></td>
        <td><%= zombie.bio %></td>
        <td><%= zombie.age %></td>		  
		<% if zombie.user_id %>
        	<td><%= User.find(zombie.user_id).email %></td>
		<% else %>
        	<td>No tiene dueño</td>
		<% end %>		  
        <td><%= zombie.rotten ? "yes" : "no" %></td>
        <td><%= link_to 'Show', zombie, :class=> 'button primary tiny' %></td>
        <td><%= link_to 'Edit', edit_zombie_path(zombie) , :class=> 'button success tiny' %></td>
        <td><%= link_to 'Destroy', zombie, method: :delete, data: { confirm: 'Are you sure?' } , :class=> 'button alert tiny'%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Zombie', new_zombie_path, :class=>"button primary" %>
