<div class="column medium-7 medium-centered">
	<div class="card hovercard">
		<div class="card-background">
			<%= image_tag @zombie.avatar %>
		</div>
		<div class="useravatar">
			<%= image_tag @zombie.avatar %>
		</div>
		<div class="card-info">
			<span class="card-title"><%= @zombie.name %></span>
		</div>
	</div>
	<ul class="info_u">
		<li class="bio">
			<span>Bio</span>
			<p><%= @zombie.bio %></p>
		</li>
		<li>
			<span>Age</span>
			<p><%= @zombie.age %></p>
		</li>
		<li>
			<span>Rotten</span>
			<p><%= @zombie.rotten %></p>
		</li>
		<li class="email">
			<span>Email</span>
			<p><%= @zombie.email %></p>
		</li>
	</ul>
</div>

<div id="brains">
	<table>
  <thead>
    <tr>
      <th width="200">Agregado</th>
      <th>Flavor</th>
      <th width="150">IQ</th>
      <th width="150">Fresh</th>
    </tr>
  </thead>
  <tbody>
	<%= render :partial => @zombie.brains.reverse %>
	    </tbody>
</table>
</div>

<%= form_for([@zombie, Brain.new], remote:true) do |f| %>
	<div class="field comuln medium-6 medium-centered">
		<%= f.label :flavor %>
		<%= f.text_field :flavor %>
	</div>

	<div class="field comuln medium-6 medium-centered">
		<%= f.label :iq %>
		<%= f.number_field :iq %>
	</div>

	<div class="field comuln medium-6 medium-centered">
		<%= f.label :fresh %>
		<%= f.check_box :fresh %>
	</div>

	<div class="actions comuln medium-6 medium-centered">
		<%= f.submit "Add Brain", :class=> 'button primary expanded' %>
	</div>
<% end %>

<%= link_to 'Edit', edit_zombie_path(@zombie), :class=>' button primary' %> |
<%= link_to 'Back', zombies_path, :class=> 'button primary' %>